

#floorPlan {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "BD1 BD1 LR LR KN"
    "BD1 BD1 LR LR KN"
    "FB FB LR LR KN"
    "BD2 BD2 HB BD3 BD3"
    "BD2 BD2 HB BD3 BD3";
}
#livingRoom {
  grid-area: LR;
  background-color: #c9ac81;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bed-1 {
  grid-area: BD1;
  margin: 0px;
}
#bed-2 {
  grid-area: BD2;
  margin: 0px;
}
#bed-3 {
  grid-area: BD3;
  margin: 0px;
}
#FullBath {
  grid-area: FB;
  margin: 0px;
}
#HalfBath {
  grid-area: HB;
  margin: 0px;
}
#kitchen {
  grid-area: KN;
  background-color: #f1a73b;
  display: grid;
  grid-template-columns: .65fr ;
  grid-template-rows: 0.1fr ;
  grid-template-areas: "OV SK"
                        "KH KH";
  margin: 0px;
  
}
#kHeading{
  grid-area: KH;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.bedroom {
  background-color: #2b7188;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bathrooms {
  background-color: #728831;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#oven {
  grid-area: OV;
  background-color: #c94716;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sink {
  grid-area: SK;
  background-color: #935613;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #fdfcfa;
  font-weight: 500;
  
}
